<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270479211517-f0rnvklms45eqdjrorund65balbr0s4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270479211517-f0rnvklms45eqdjrorund65balbr0s4f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>270479211517-akoh3dr2rpquabcjjsndn4e02sj20n4m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8EgJb3CcMc89dITfg6NMMuWnc5HlVA48</string>
	<key>GCM_SENDER_ID</key>
	<string>270479211517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.himfirstmedia.exegesis</string>
	<key>PROJECT_ID</key>
	<string>exegesis-app</string>
	<key>STORAGE_BUCKET</key>
	<string>exegesis-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270479211517:ios:dac32e8de187060342b794</string>
</dict>
</plist>